<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MTag - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav>
    <ul id="header-container">
      <li><a href="/">Timeline</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/">About</a></li>
    </ul>
  </nav>
  {% block header %}{% endblock %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
