{% extends "base.html" %}
{% block title %}Timeline{% endblock %}
{% block header %}
<!-- TODO!? -->
{% endblock %}}
{% block content %}

<div id="canvas-container">
  <canvas id="timeline"></canvas>
  <canvas id="overlay"></canvas>
</div>

<details>
  <summary>Logged entries</summary>

  <table>
    <thead>
      <th>Start</th>
      <th>End</th>
      <th>Title</th>
    </thead>
    <tbody>
      <tr>
        <td>2024-01-01 00:00:00</td>
        <td>2024-01-01 00:01:00</td>
        <td>Firefox</td>
      </tr>
      <tr>
        <td>2024-01-01 00:01:00</td>
        <td>2024-01-01 00:02:00</td>
        <td>Emacs</td>
      </tr>
    </tbody>
  </table>
</details>

<details>
  <summary>Tagged entries</summary>

  <table>
    <thead>
      <th>Start</th>
      <th>End</th>
      <th>Title</th>
    </thead>
    <tbody>
      <tr>
        <td>2024-01-01 00:00:00</td>
        <td>2024-01-01 00:01:00</td>
        <td>Firefox</td>
      </tr>
      <tr>
        <td>2024-01-01 00:01:00</td>
        <td>2024-01-01 00:02:00</td>
        <td>Emacs</td>
      </tr>
    </tbody>
  </table>
</details>

<script>
  const canvasContainer = document.getElementById("canvas-container");

  function overlayTimeline() {
      const canvas = document.getElementById('timeline');
      var ctx = canvas.getContext("2d");
      ctx.fillStyle = "#FFF";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.beginPath();
      ctx.moveTo(0, 0);
      ctx.lineTo(canvas.width - 10, 100);
      ctx.stroke();
  }

  function overlayTest() {
      const canvas = document.getElementById('overlay');
      const ctx = canvas.getContext("2d");
      new ResizeObserver(() => {
          console.log("Resizing..");
          canvas.width = canvasContainer.clientWidth;
          canvas.height = canvasContainer.clientHeight;
      }).observe(canvasContainer);

      canvas.addEventListener("mousemove", (event) => {
          const mouseX = event.offsetX;
          ctx.clearRect(0, 0, canvas.width * 100, canvas.height);
          ctx.strokeStyle = "#444";
          ctx.beginPath();
          ctx.moveTo(mouseX, 0);
          ctx.lineTo(mouseX, canvas.height);
          ctx.stroke();
      })
  }

  overlayTimeline();
  overlayTest();
</script>
{% endblock %}
