{% extends "base.html" %}
{% block title %}Timeline{% endblock %}
{% block content %}

<div id="canvas-container">
  <canvas id="timeline"></canvas>
  <canvas id="overlay"></canvas>
</div>

<details open>
  <summary>Tagged entries</summary>

  <table id="tagged-entries-table">
    <thead>
      <th>Duration</th>
      <th>Category</th>
      <th>URL</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</details>

<details>
  <summary>Logged entries</summary>

  <table id="logged-entries-table">
    <thead>
      <th>Start</th>
      <th>End</th>
      <th>Title</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</details>
<script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js') }}"></script>
{% endblock %}
