body {
    font-family: sans-serif;
    margin: 0;
    background-color: #DDD;
    font-size: 1em;
}

#header-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #444, #333);
}

#header-container li {
    float: left;
}

#header-container li:last-child {
  float: right;
}

#header-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header-container li a:hover {
    color: black;
    background-color: lightblue;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#minimap-container {
    width: 100%;
    height: 70px;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#minimap-container canvas {
    width: 100%;
}

#canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
}

details {
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    margin: 25px auto;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 95%;
}

summary {
    padding: 10px;
    font-weight: bold;
    color: yellow;
    background-image: linear-gradient(to bottom, #666, #444, #444, #666);
    border-radius: 5px;
    cursor: pointer;
}

table thead tr {
    background-color: darkblue;
    color: yellow;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #DDD;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid darkorange;
}

.modal-window {
    width: 500px;
    margin-top: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

#modal-window::backdrop {
    background-color: rgba(0,0,0,0.4);
}

#modal-date-span {
    text-align: center;
}

#content {
    margin: 8px;
}

#zoom-to-fit {
    margin-right: 10px;
    padding: 2px 4px;
}

#category-page-container {
    display: flex;
}

.category-list {
    margin: 0 10px;
}

.category-list select {
    width: 200px;
    height: 100%;
}

#category-list-separator {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
}

#category-details {
    width: 40%;
}

#category-details input[type=text] {
    width: 100%;
}

#category-details select {
    width: 100%;
}

#category-details > div {
    padding-bottom: 10px;
    padding-left: 10px;
}

.category-input-title {
    display: block;
    font-size: 0.8em;
    padding-top: 10px;
    font-style: italic;
}

#date-picker {
    width: 150px;
}

#calendar-container {
    display: none;
    margin: 10px auto;
    width: 300px;
    background-color: #EEE;
    padding: 3px 10px 10px 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#today-button {
    margin-top: 10px;
    width: 100%;
}

#calendar-controls {
    display: flex;
    justify-content: space-between;
}

#calendar-controls > button {
    width: 30px;
}

#chosen-date {
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(8, auto);
    width: 100%;
}

#calendar span {
    text-align: center;
    margin: 2px;
}

#calendar .weekday-header {
    border-bottom: 1px solid black;
    color: #444;
}

#calendar .week-num {
    border-right: 1px solid black;
    color: orange;
}

#calendar .day {
    color: #44A;
}

#calendar .selectable {
    cursor: pointer;
}

#calendar .selected {
    background-color: #44A;
    color: yellow;
}

#calendar .selectable:hover {
    background-color: #999;
}
