body {
    font-family: sans-serif;
    margin: 0;
    background-color: #DDD;
    font-size: 1em;
}

#header-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #444, #333);
}

#header-container li {
    float: left;
}

#header-container li:last-child {
  float: right;
}

#header-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header-container li a:hover {
    color: black;
    background-color: lightblue;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 40dvh;
    min-height: 300px;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
}

details {
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    margin: 25px auto;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 95%;
}

summary {
    padding: 10px;
    font-weight: bold;
    color: yellow;
    background-image: linear-gradient(to bottom, #666, #444, #444, #666);
    border-radius: 5px;
    cursor: pointer;
}

table thead tr {
    background-color: darkblue;
    color: yellow;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #DDD;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid darkorange;
}

#new-tagged-entry-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
  background-color: #fefefe;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

/* OLD */
.parent {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
}

.entry_details {
    padding: 10px;
    box-shadow: 3px 3px 5px 5px #9A9A9A;
    background-color: #FFF;
}

#update-container .entry_details {
    max-width: 350px;
    min-width: 250px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.parent > div.today {
    background-color: #AFA;
}

.parent > div.applied {
    background-image: linear-gradient(to bottom, #AAF, #DDF);
}

.parent > div.hidden {
    opacity: 40%;
}

.entry_details img {
    width: 330px;
    height: 220px;
}

.house-data span {
    display: block;
}

.first_seen {
    color: #2D2D2D;
}

.broker-name {
    font-size: 14px;
    color: #2d2d2d;
    display: block;
}

.site-title {
    color: #FD2;
}

header span {
    color: #D2D2D2;
    display: block;
}

.update_entries_container {
    padding: 15px;
}

#broker_data {
    display: inline-block;
    text-align: right;
}

#filter_button_container {
    display: block;
    text-align: center;
    margin: 10px;
}

#filter_button_container a {
    display: inline-block;
    text-align: center;
    background-color: silver;
    color: black;
    padding: 10px;
}

#filter_button_container a.active {
    background-color: yellow;
}

.entries-seen-today a {
    color: orange;
}

.update_entries_container a {
    background-color: darksalmon;
    color: black;
    padding: 10px;
}

#update-container {
    max-width: 550px;
    width: 95%;
    margin: auto;
}

#update-container input#submit-button {
    float: right;
}

#update-container #decision_container {
    padding-bottom: 20px;
    overflow: auto;
}

#update-container table tr td:first-child {
    text-align: right;
    width: 50%;
}

#update-container textarea#note {
    width: 100%;
    display: block;
    height: 100px;
}

.edit-link-container {
    text-align: right;
}

#content {
    margin: 8px;
}

header {
    background-image: linear-gradient(to bottom, #444, #333);
    text-align: center;
    padding: 10px 0 10px 0;
}

h2 {
    color: #FF5;
    background-color: #333;
    padding: 10px;
}
